@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import "tailwindcss";

@theme {
  --color-theme-color:#DD7F24;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Acme", sans-serif;
}
